:root{
    --primary-white:#fff
    --primary-orange:#f9ab00;
}
.logo{
    width:7.25rem;
}

/* ***************menu link******************** */
nav a.nav-link{
    font-weight: 500;
    letter-spacing: 0.037rem;
}
nav ul li{
    text-transform: uppercase;
}
.navbar-nav > li > a{
    color: #f8f9fa!important;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    /* border: 0.1875rem solid #343a40; */
    background-color: 343a40;
}
.navbar-brand{
    max-width:17.25rem;
    padding: 0 !important;
    height:4rem;
}
.navbar-nav>li>a.active,.navbar-nav>li>a.active:focus{
    border: 0.1875rem solid #9dd633 !important;
    
}
.navbar-nav>li>a:hover{
    /* border: 0.1875rem solid  #210101; */
    background-color:blue;
}